.item1 {grid-area: header; }
.item2 {grid-area: left;}
.item3 {grid-area: right;}
#artlinks {grid-area: artlink;}
#forms {grid-area: form;}

h1 {
    font-family: 'Open Sans Condensed', sans-serif; font-size: 48px; color: #333;
    text-align: center;
}

h2 { font-weight: 300; font-size: 38px; margin: 0px 0px 0px 0px; line-height: 120%; font-family: 'Open sans', sans-serif; }

#gridcontainer {
    display: grid;
    grid-template-areas:
            'header header header header header header'
            'left right right right right right';
    grid-gap: 10px;
    padding: 10px;

}

body {
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

#navbar {
    border: solid 3px lightgray;
    border-radius: 5px;
    padding-left: 10px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

#sidebar {
    border: solid 3px lightgray;
    border-radius: 5px;
    text-align: center;
    padding-right: 20px;
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
}

.article {
    border: solid 3px lightgray;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h2 {
    padding-left: 10px;
}

ul {
    text-align: center;
}

li {
    text-align: left;
}

h2 {
    font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border: none;
}

li {
    text-decoration: none;
    color: #000;
    display: block;
    width: 200px;
    text-align: center;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

li:hover {
    font-size: 25px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

@media (max-width: 600px) {
    #gridcontainer {
        display: grid;
        grid-template-areas:
                'header header header header header header'
                'left left left left left left'
                'right right right right right right';
    }

    #sidebar {
        display: grid;
        grid-template-areas:
            'artlink form';
    }


}
